[submodule "find/Libraries/RSTabBarController"]
	path = find/Libraries/RSTabBarController
	url = https://qq30135878@github.com/b051/RSTabBarController.git
[submodule "find/Libraries/AFNetworking"]
	path = find/Libraries/AFNetworking
	url = https://qq30135878@github.com/qq30135878/AFNetworking.git
[submodule "find/Libraries/ZBUtilities"]
	path = find/Libraries/ZBUtilities
	url = https://qq30135878@github.com/qq30135878/ZBUtilities.git
