[submodule "find/Libraries/RSTabBarController"]
	path = find/Libraries/RSTabBarController
	url = https://qq30135878@github.com/b051/RSTabBarController.git
[submodule "find/Libraries/Qiniu"]
	path = find/Libraries/Qiniu
	url = https://qq30135878@github.com/qq30135878/ios-sdk.git
